* {
  margin: 0;
  padding: 0;
  font-family: Calibri, "Trebuchet MS", sans-serif;
}

#title {
  display: flex;
  justify-content: center;
  font-family:
    Old English Text MT,
    calibri,
    sans-serif;
  font-size: 30pt;
}

#mansion {
  width: 900px;
  height: auto;
  display: flex;
}

#picture {
  margin-left: 350px;
  width: 850px;
  height: auto;
  display: block;
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */
}

#menu {
  display: flex;
  justify-content: space-around;
  font-family:
    Old English Text MT,
    Calibri,
    sans-serif;
  font-size: 20pt;
}

.caption {
  display: flex;
  justify-content: center;
}

#stables {
  width: 600px;
  height: auto;
  float: left;
}

.cafe {
  background-color: bisque;
  margin-left: 10px;
}
