* {
  margin: 0;
  padding: 0;
  font-family: Calibri, "Trebuchet MS", sans-serif;
}

body {
  margin: 25px;
  background-color: whitesmoke;
}
#title {
  display: flex;
  justify-content: center;
  font-family:
    Old English Text MT,
    calibri,
    sans-serif;
  font-size: 30pt;
}

#mansion1 {
  width: 900px;
  height: auto;
  display: flex;
}

#mansion2 {
  width: 900px;
  height: auto;
  display: flex;
}

#picture {
  margin-left: 350px;
  width: 850px;
  height: auto;
  display: block;
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */
}

#menu {
  display: flex;
  justify-content: space-evenly;
  font-family:
    Old English Text MT,
    Calibri,
    sans-serif;
  font-size: 20pt;
}

#stables {
  width: 700px;
  height: 350px;
  float: left;
  justify-content: center;
}

.cafe {
  background-color: bisque;
  margin-left: 30px;
  width: 700px;
  height: auto;
  padding: 10px;
}

#gardens {
  display: flex;
  justify-content: space-around;
  background-color: aqua;
  margin: 50px;
  max-width: 300px;
  gap: 20px;
}

/* No errors founf 10/10/2026 */
